Source: folder-color
Section: utils
Priority: extra
Standards-Version: 0.1.1
Maintainer: costales <costales.marcos@gmail.com>
Build-Depends: debhelper (>= 8.0.0), dh-python, python3-all, python3-distutils-extra
Homepage: https://github.com/costales/folder-color

Package: folder-color
Architecture: all
Section: utils
Priority: extra
Depends: python3-nautilus, nautilus, ${python:Depends}
Replaces: folder-color-common, folder-color-yaru
Breaks: folder-color-common, folder-color-yaru
Description: Folder Color
 Change a folder color
